<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>Welcome to the Index</h1>
Indexing...
<script>
    $.ajax({
        url: "/test2",
        method: "GET",
        data: {},
        success: (data,status, xhr) =>{
            alert(JSON.stringify(data));
        },
        error: (data, status, xhr) =>{
            alert(JSON.stringify(data));
        },
    });
</script>

</body>
</html>