<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Read</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
ID: <input id="input_id" type="number"><br>
Title: <span id="title"></span><br>
Content: <span id="content"></span><br>
Author: <span id="author"></span><br>
<button onclick="read()">Read</button>
<script>
    function read() {
        $.ajax({
            url: "/api/sboard/read",
            method: "GET",
            data: {
                id: $("#input_id").val()
            },
            success: (data, status, xhr) => {
                alert(JSON.stringify(data));
                $('#title').html(data.title || "N/A");
                $('#content').html(data.content || "N/A");
                $('#author').html(data.author || "N/A");
            },
            error: (data, status, xhr) => {
                alert(JSON.stringify(data));
            },
        });}
</script>
</body>
</html>