<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>

<script>
    $.ajax({
        url: "/api/postboard/create",
        method: "POST",
        data: {
            title: $('#input_title').val(),
            content: $('#input_content').val(),
            author: $('#input_author').val(),
        },
        success: (data, status, xhr) => {
            alert(JSON.stringify(data));

        },
        error: (data, status, xhr) => {
            alert(JSON.stringify(data));
        },
    });
</script>
</body>
</html>